@font-face {
    font-family: 'Flanders Art';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Light.eot');
    src: local('☺'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Light.eot?#iefix') format('embedded-opentype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Light.woff') format('woff'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Light.ttf') format('truetype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Light.svg#222d09d62eecf7d55dbbce60a3976b34') format('svg');
}

@font-face {
    font-family: 'Flanders Art';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Regular.eot');
    src: local('☺'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Regular.woff') format('woff'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Regular.ttf') format('truetype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Regular.svg#a781d42e8795b6c33f49152946c2a117') format('svg');
}

@font-face {
    font-family: 'Flanders Art';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Medium.eot');
    src: local('☺'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Medium.eot?#iefix') format('embedded-opentype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Medium.woff') format('woff'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Medium.ttf') format('truetype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Medium.svg#a00e3e9aae2b74f48ebe54da93879a7b') format('svg');
}

@font-face {
    font-family: 'Flanders Art';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Bold.eot');
    src: local('☺'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Bold.woff') format('woff'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Bold.ttf') format('truetype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSans-Bold.svg#ccf2aa22c7445e01b2080bbe048caaae') format('svg');
}

@font-face {
    font-family: 'Flanders Art Serif';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSerif-Light.otf');
}

@font-face {
    font-family: 'Flanders Art Serif';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSerif-Regular.otf');
}

@font-face {
    font-family: 'Flanders Art Serif';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSerif-Medium.otf');
}

@font-face {
    font-family: 'Flanders Art Serif';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/FlandersArtSerif-Bold.otf');
}

@font-face {
    font-family: vlaanderen_iconfont;
    src: url('https://cdn.ruimteinfo.be/browser-support/LATEST/font/vlaanderen_iconfont.eot');
    src: local('☺'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/vlaanderen_iconfont.eot?#iefix') format('embedded-opentype'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/vlaanderen_iconfont.woff') format('woff'), url('https://cdn.ruimteinfo.be/vlaanderen-font/LATEST/font/flandersart/vlaanderen_iconfont.ttf') format('truetype');
}

.vo-font, .vo-font-sans {
    font-family: Flanders Art, Calibri, sans-serif;
}

.vo-font-serif {
    font-family: Flanders Art Serif, Georgia, serif;
}